#project{
    color: white;
}

#project h1{
    text-align: center;
    padding-bottom: 40px;
}

.project-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}



.project-desc h2{
    font-size: 80px;
    -webkit-text-stroke: 1px silver;
    color: transparent;
}

.project-desc h4{
    padding-bottom: 20px;
}

.technologies{
    display: flex;
    gap: 15px;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 2px solid silver;
}

.technologies p{
    font-weight: bold;
    color: var(--white-color);
}

/* project-img */

.project-img{
    width: 600px;
}

.project-img img{
    width: 100%;
}

/* Arrow  */

.arrow-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.arrow{
    border: 2px solid var(--main-color);
    padding: 6px 12px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: var(--main-color);
}

.arrow:hover{
    background: var(--main-color);
    color: var(--bg-color);
}


.project-box{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
}

/* slide left */

.slide-left{
    animation: slideLeft 0.5s ease;
}

@keyframes slideLeft{

    from{
        opacity:0;
        transform:translateX(120px);
    }

    to{
        opacity:1;
        transform:translateX(0);
    }

}

/* slide right */

.slide-right{
    animation: slideRight 0.5s ease;
}

@keyframes slideRight{

    from{
        opacity:0;
        transform:translateX(-120px);
    }

    to{
        opacity:1;
        transform:translateX(0);
    }

}


/* mobile responsive */

@media (max-width: 1024px){
    .project-img{
        width: 550px;
    }
    .project-img img{
        width: 100%;
    }

    .project-desc h2{
        font-size: 60px;
    }
    
    .project-desc h4{
        padding-bottom: 10px;
    }
}

@media (max-width: 991px){
    .project-img{
        width: 450px;
    }
    .project-img img{
        width: 100%;
    }

/* 
    .project-desc h2{
        font-size: 60px;
    }
    
    .project-desc h4{
        padding-bottom: 10px;
    } */
}

/* @media (max-width: 885px){
    .project-box{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
} */

@media (max-width: 768px){
    .project-box{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .project-img{
        width: 100%;
    }
}

@media (max-width: 576px){
    .project-box{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .project-img{
        width: 100%;
    }
}

/* @media (max-width: 480px){
    .project-img{
        width: 100%;
    }
} */

@media (max-width: 320px){

    .project-img img{
        width: 100%;
    }

    .project-desc{
        width: 300px;
    }

    .technologies{
        display: flex;
        flex-direction: column;
    }
} 