.resume{
    color: var(--white-color);
}

.resume-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 80px;
}

.resume-box h2{
    font-size: 40px;
}


.resume-box p{
    font-size: 18px;
    color: silver;
}
.resume-box .desc{
    margin: 30px 0;
}

.resume-box .resume-btn{
    width: 100%;
    height: 60px;
    background: var(--second-bg-color);
    border: 2px solid var(--second-bg-color);
    font-size: 18px;
    color: var(--white-color);
    font-weight: 500;
    margin-bottom: 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.resume-box .resume-btn:hover{
    border: 2px solid var(--main-color);
}


/* Education  */

.edu-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px; 
}



.box{
    padding: 30px 20px;
    background: var(--second-bg-color);
    border-radius: 10px;
    border: 2px solid var(--second-bg-color);
    transition: .5s;
}

.box:hover{
    border: 2px solid var(--main-color);
}

.box h4{
    font-size: 25px;
    padding-bottom: 10px;
}

.box span{
    color: var(--main-color);
}


/* Experience  */

.exp-container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
}

.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
}

/* About */

.about-container{
    background: var(--second-bg-color);
    border-radius: 10px;
}

.about-container ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
}

.about-container ul li{
    list-style: none;
    border-bottom: 2px solid silver;
    padding-bottom: 20px;
}


/* mobile Responsive */

@media (max-width: 991px){
    .resume-container{
       display: inline;
    }
    .edu-container{
        display: grid;
        grid-template-columns: 1fr; 
        gap: 10px; 
    }
}

@media (max-width: 576px){
    
}

@media (max-width: 480px){
    .exp-container{
        display: grid;
        grid-template-columns: 1fr; 
        gap: 10px; 
    }

    .skills-container{
        display: grid;
        grid-template-columns: 1fr; 
        gap: 10px; 
    }
}

@media (max-width: 320px){
    section{
        padding: 40px 5%;
    }

    .resume-box h2{
        font-size: 30px;
    }
    .resume-box h1{
        font-size: 30px;
    }

    .resume-box p{
        font-size: 16px;
    }

    .resume-box .desc{
        margin: 20px 0;
    }

}

.resume-animation {
    animation: fadeSlide 0.4s ease-in-out;
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}